.container {
  width:100vw; 
  display: flex;
  justify-content: space-between;
  position: relative; 
  margin-top: 10vh;
  margin-bottom: 5vh;
  height: 500px;
  overflow: visible; 
}

.graph {
  background-color: lightgray;
  border-radius: 5%;
  height: 500px; 
  width: 500px; 
  flex: 0 1 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 5vh; 
}



.urlTab {
  background-color: lightgray;
  text-decoration: none; 
  height:500px; 
  width:300px; 
  position: relative;
  overflow: scroll;
  margin-right: 15vw;
}




@media screen and (max-width: 1250px) {
  .container {
    width:100vw; 
    display: flex;
    justify-content: space-between;
    position: relative; 
    margin-top: 10vh;
    margin-bottom: 5vh;
    height: 400px;
    overflow: visible; 
  }
  .graph {
    background-color: lightgray;
    border-radius: 5%;
    height: 400px; 
    width: 400px; 
    flex: 0 1 auto;
    position: absolute;
    /* new */
    left: 50%;
    transform: translateX(-50%);
  }

  .urlTab {
    background-color: lightgray;
    text-decoration: none; 
    height:400px; 
    width:250px; 
    position: relative;
    overflow: scroll;
    margin-right: 15vw;
  }
}

@media screen and (max-width: 1050px) {
  .container {
    width:100vw; 
    display: flex;
    justify-content: space-between;
    position: relative; 
    margin-top: 10vh;
    margin-bottom: 5vh;
    height: 300px;
    overflow: visible; 
  }
  .graph {
    background-color: lightgray;
    border-radius: 5%;
    height: 300px; 
    width: 300px; 
    flex: 0 1 auto;
    position: absolute;
    /* new */
    left: 50%;
    transform: translateX(-50%);
  }
  .urlTab {
    background-color: lightgray;
    text-decoration: none; 
    height:300px; 
    width:200px; 
    position: relative;
    overflow: scroll;
    margin-right: 15vw;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width:100vw; 
    display: flex;
    justify-content: space-between;
    position: relative; 
    margin-top: 10vh;
    margin-bottom: 5vh;
    height: 200px;
    overflow: visible; 
  }
  .graph {
    background-color: lightgray;
    border-radius: 5%;
    height: 200px; 
    width: 200px; 
    flex: 0 1 auto;
    position: absolute;
    /* new */
    left: 50%;
    transform: translateX(-50%);
  }
  .urlTab {
    background-color: lightgray;

    height:200px; 
    width:120px; 
    position: relative;
    overflow: scroll;
    margin-right: 15vw;
  }
}