@font-face {font-family: "RockoFLF"; src: url("//db.onlinewebfonts.com/t/019989000d415bd433b4074af1e753a5.eot");}
.introbar{ 
    height: 10vh; 
    background-color: hsl(29, 100%, 60%); 
    font-size: 0.9rem; 
    font-family: 'RockoFLF', Arial, Helvetica, sans-serif; 
    width: 100vw; 
    z-index: 2; 
    
}
.introbar h1{ 
    float: left; 
    padding-left: 4vw; 
    font-size: 2rem; 
    font-weight: 600; 
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    margin: 0; 
}
.collegeresultslogo{ 
    float: left; 
    height: 10vh; 
    padding-left: 2vw; 
}
.githublogo{ 
    float: right; 
    height: 10vh; 
    margin-right: 10vw; 

}
.info{ 
    float: right; 
    height: 6vh; 
    margin-right:10vw; 
    margin-top:2vh; 
    cursor: pointer;
}
#spreadsheeticon{ 
    float:right; 
    height: 6vh;
    margin-right:10vw; 
    margin-top:2vh; 
    cursor: pointer;  
}
@media (max-width: 640px){
    .introbar h1{ 
        font-size: 1rem ; 
    }
    .githublogo{ 
        display: none
    }

    #spreadsheeticon{ 
        float:right; 
        height: 6vh;
        margin-right:10vw; 
        margin-top:2vh; 
        cursor: pointer;  
    }
    .introbar{ 
        height: 10vh; 
        background-color: hsl(29, 100%, 60%); 
        font-size: 0.9rem; 
        font-family: 'RockoFLF', Arial, Helvetica, sans-serif; 
        width: 100vw; 
        z-index: 2; 
        
    }
    .introbar h1{ 
        float: left; 
        padding-left: 4vw; 
        font-size: 1rem; 
        font-weight: 600; 
        top: 50%;
        position: relative;
        transform: translateY(-50%);
        margin: 0; 
    }
    .collegeresultslogo{ 
        float: left; 
        display: none;
    }
}